    header {
        background-color: var(--marron);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .menu {
          position: fixed; /* reste en place lors du défilement */
          top: 0; /* fixe le menu en haut de la page */
          left: 0;
          width: 100vw; /* largeur de la fenêtre */
          height: 100vh; /* hauteur de la fenêtre */
          background: var(--menu-background); /*couleur de fond */
          display: grid; /* grille (pour centrer) */
          place-content: center; /* alignement au centre (V et H) */
        }
        .header_menuBtn {
          position: relative; /* pour appliquer z-index */
          z-index: 10; /* pour que le bouton soit au dessus du menu */
        }
        .noscroll,
        .noscrollbody {
          overflow: hidden;
        }

    .menu-croix {
        width: 40px;
    }

    footer {
        background-color: var(--marron);
    }

    h1 {
      font-family: 'Lexend Giga', sans-serif;
      font-size: var(--lexend-giga-20px);
      margin-inline: 2%;
    }

    h2 {
      font-family: 'Lexend Giga', sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-inline: 2%;
    }

    p, li {
      font-family: 'Lexend', sans-serif;
      font-size: var(--lexend-14px);
      margin-inline: 2%;
    }

    span {
      color: var(--orange);
    }

    .carrousel {
      background-color: var(--beige);
    }