    header {
        background-color: var(--marron);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .menu {
          position: fixed; /* reste en place lors du défilement */
          top: 0; /* fixe le menu en haut de la page */
          left: 0;
          width: 100vw; /* largeur de la fenêtre */
          height: 100vh; /* hauteur de la fenêtre */
          background: var(--menu-background); /*couleur de fond */
          display: grid; /* grille (pour centrer) */
          place-content: center; /* alignement au centre (V et H) */
        }
        .header_menuBtn {
          position: relative; /* pour appliquer z-index */
          z-index: 10; /* pour que le bouton soit au dessus du menu */
        }
        .noscroll,
        .noscrollbody {
          overflow: hidden;
        }

    .menu-croix {
        width: 40px;
    }

    footer {
        background-color: var(--marron);
    }

    h1 {
      font-family: 'Lexend Giga', sans-serif;
      font-size: var(--lexend-giga-20px);
      margin-inline: 2%;
    }

    h2 {
      font-family: 'Lexend Giga', sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-inline: 2%;
    }

    p, li {
      font-family: 'Lexend', sans-serif;
      font-size: var(--lexend-14px);
      margin-inline: 2%;
    }

    span {
      color: var(--orange);
    }

    .carrousel {
      background-color: var(--beige);
    }

    .carrousel_ecran img {
      max-width: 100%; /* Ajuste la largeur maximale de l'image à 100% du conteneur */
      height: auto; /* Ajuste automatiquement la hauteur pour conserver les proportions */
    }

    .carrousel {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .carrousel_parent-ecrans {
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
      gap: 10px;
      text-align: center;
    }
    
    .carrousel_ecran {
      scroll-snap-align: start;
      width: 100%;
      flex: none;
    }
    
    .carrousel_picture {
      position: relative;
      width: 600px;
    }
    
    .carrousel_btn {
      position: absolute;
      top: 45%;
      border-radius: 50%;
      background: none;
      border: none;
      display: grid;
      place-content: center;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 36px;
    }
    
    .carrousel_btn-avant {
      left: 0;
    }
    
    .carrousel_btn-apres {
      right: 0;
    }
    
    .carrousel_liste-liens {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      border-radius: 5px;
      gap: 1rem;
    }
    
    .carrousel_liste-liens li {
      padding: 10px 20px;
      background-color: black;
      border-radius: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
    }
    
    .carrousel_liste-liens a{
      color: #fff;
      font-family: Work Sans;
      text-decoration: none;
    }
    .carrousel_liste-liens a.actif {
      color: #E6C981;
    }